version: "3.9"

services:
  bot:
    image: ghcr.io/hblwrk/discord-bot-ts:main
    deploy:
      resources:
        limits:
          cpus: "1"
          memory: 1024M
        reservations:
          cpus: "0.5"
          memory: 512M
    read_only: true
    ulimits:
      nofile:
        soft: 65536
        hard: 65536
    ports:
      - "11312:11312"
    secrets:
      - environment
      - production_discord_token
      - production_discord_client_ID
      - production_discord_guild_ID
      - production_discord_btcusd_token
      - production_discord_btcusd_client_ID
      - production_discord_ethusd_token
      - production_discord_ethusd_client_ID
      - production_discord_oneusd_token
      - production_discord_oneusd_client_ID
      - production_discord_solusd_token
      - production_discord_solusd_client_ID
      - production_discord_es_token
      - production_discord_es_client_ID
      - production_discord_nq_token
      - production_discord_nq_client_ID
      - production_discord_rty_token
      - production_discord_rty_client_ID
      - production_discord_vix_token
      - production_discord_vix_client_ID
      - production_discord_dax_token
      - production_discord_dax_client_ID
      - production_discord_eurusd_token
      - production_discord_eurusd_client_ID
      - production_discord_2y_token
      - production_discord_2y_client_ID
      - production_discord_10y_token
      - production_discord_10y_client_ID
      - production_discord_30y_token
      - production_discord_30y_client_ID
      - production_dracoon_password
      - production_healthcheck_port
      - production_hblwrk_channel_NYSEAnnouncement_ID
      - production_hblwrk_channel_MNCAnnouncement_ID
      - production_hblwrk_channel_OtherAnnouncement_ID
      - production_hblwrk_channel_logging_ID
      - production_hblwrk_channel_clownboard_ID
      - production_hblwrk_role_assignment_channel_ID
      - production_hblwrk_role_assignment_broker_message_ID
      - production_hblwrk_role_assignment_special_message_ID
      - production_hblwrk_role_broker_yes_ID
      - production_hblwrk_role_broker_tastyworks_ID
      - production_hblwrk_role_broker_ibkr_ID
      - production_hblwrk_role_broker_traderepublic_ID
      - production_hblwrk_role_broker_smartbroker_ID
      - production_hblwrk_role_broker_scalablecapital_ID
      - production_hblwrk_role_broker_etoro_ID
      - production_hblwrk_role_broker_hausbank_ID
      - production_hblwrk_role_broker_comdirect_ID
      - production_hblwrk_role_broker_degiro_ID
      - production_hblwrk_role_broker_flatex_ID
      - production_hblwrk_role_broker_onvista_ID
      - production_hblwrk_role_broker_schwab_ID
      - production_hblwrk_role_broker_none_ID
      - production_hblwrk_role_broker_other_ID
      - production_hblwrk_role_special_etf_ID
      - production_hblwrk_role_special_1euroladen_ID
      - production_hblwrk_role_special_commodities-fx-bonds_ID
      - production_hblwrk_role_special_crypto_ID
      - production_hblwrk_role_special_steuerkanzlei_ID
      - production_hblwrk_role_special_business-karriere_ID
      - production_hblwrk_role_special_content-creator-squad_ID
      - production_hblwrk_role_special_cryptoping_ID
      - production_hblwrk_role_special_nftping_ID
      - production_hblwrk_role_special_stageping_ID
      - production_hblwrk_role_special_realestate_ID
      - production_hblwrk_role_muted_ID

secrets:
  environment:
    external: true
  production_discord_token:
    external: true
  production_discord_client_ID:
    external: true
  production_discord_guild_ID:
    external: true
  production_discord_btcusd_token:
    external: true
  production_discord_btcusd_client_ID:
    external: true
  production_discord_ethusd_token:
    external: true
  production_discord_ethusd_client_ID:
    external: true
  production_discord_oneusd_token:
    external: true
  production_discord_oneusd_client_ID:
    external: true
  production_discord_solusd_token:
    external: true
  production_discord_solusd_client_ID:
    external: true
  production_discord_es_token:
    external: true
  production_discord_es_client_ID:
    external: true
  production_discord_nq_token:
    external: true
  production_discord_nq_client_ID:
    external: true
  production_discord_rty_token:
    external: true
  production_discord_rty_client_ID:
    external: true
  production_discord_vix_token:
    external: true
  production_discord_vix_client_ID:
    external: true
  production_discord_dax_token:
    external: true
  production_discord_dax_client_ID:
    external: true
  production_discord_eurusd_token:
    external: true
  production_discord_eurusd_client_ID:
    external: true
  production_discord_2y_token:
    external: true
  production_discord_2y_client_ID:
    external: true
  production_discord_10y_token:
    external: true
  production_discord_10y_client_ID:
    external: true
  production_discord_30y_token:
    external: true
  production_discord_30y_client_ID:
    external: true
  production_dracoon_password:
    external: true
  production_healthcheck_port:
    external: true
  production_hblwrk_channel_NYSEAnnouncement_ID:
    external: true
  production_hblwrk_channel_MNCAnnouncement_ID:
    external: true
  production_hblwrk_channel_OtherAnnouncement_ID:
    external: true
  production_hblwrk_channel_logging_ID:
    external: true
  production_hblwrk_channel_clownboard_ID:
    external: true
  production_hblwrk_role_assignment_channel_ID:
    external: true
  production_hblwrk_role_assignment_broker_message_ID:
    external: true
  production_hblwrk_role_assignment_special_message_ID:
    external: true
  production_hblwrk_role_broker_yes_ID:
    external: true
  production_hblwrk_role_broker_tastyworks_ID:
    external: true
  production_hblwrk_role_broker_ibkr_ID:
    external: true
  production_hblwrk_role_broker_traderepublic_ID:
    external: true
  production_hblwrk_role_broker_smartbroker_ID:
    external: true
  production_hblwrk_role_broker_scalablecapital_ID:
    external: true
  production_hblwrk_role_broker_etoro_ID:
    external: true
  production_hblwrk_role_broker_hausbank_ID:
    external: true
  production_hblwrk_role_broker_comdirect_ID:
    external: true
  production_hblwrk_role_broker_degiro_ID:
    external: true
  production_hblwrk_role_broker_flatex_ID:
    external: true
  production_hblwrk_role_broker_onvista_ID:
    external: true
  production_hblwrk_role_broker_schwab_ID:
    external: true
  production_hblwrk_role_broker_none_ID:
    external: true
  production_hblwrk_role_broker_other_ID:
    external: true
  production_hblwrk_role_special_etf_ID:
    external: true
  production_hblwrk_role_special_1euroladen_ID:
    external: true
  production_hblwrk_role_special_commodities-fx-bonds_ID:
    external: true
  production_hblwrk_role_special_crypto_ID:
    external: true
  production_hblwrk_role_special_steuerkanzlei_ID:
    external: true
  production_hblwrk_role_special_business-karriere_ID:
    external: true
  production_hblwrk_role_special_content-creator-squad_ID:
    external: true
  production_hblwrk_role_special_cryptoping_ID:
    external: true
  production_hblwrk_role_special_nftping_ID:
    external: true
  production_hblwrk_role_special_stageping_ID:
    external: true
  production_hblwrk_role_special_realestate_ID:
    external: true
  production_hblwrk_role_muted_ID:
    external: true
