name: CI

permissions: read-all

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    
    steps:
      - uses: actions/checkout@v4

      - name: Dockerfile Validator
        uses: ghe-actions/dockerfile-validator@v5
        with:
          dockerfile: Dockerfile
          lint: dockerlint
          dockerlabelvalidate: yes

      - name: Checkov GitHub Action
        uses: bridgecrewio/checkov-action@v12.2974.0
        with:
          soft_fail: true

      - name: Sysdig CIS Dockerfile Benchmark
        uses: sysdiglabs/benchmark-dockerfile@v1.0.0

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci
      - name: Run tests
        run: npm run test

  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      packages: write

    steps:
      - uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@902fa8ec7d6ecbf8d84d538b9b233a880e428804
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      - name: Build and push Docker image
        uses: docker/build-push-action@471d1dc4e07e5cdedd4c2171150001c434f0b7a4
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

  sign:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      packages: write
    needs: [test, build]

    if: github.ref == 'refs/heads/main'
    steps:
      - name: Log in to the Container registry
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@902fa8ec7d6ecbf8d84d538b9b233a880e428804
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          
      - name: install-cosign
        uses: sigstore/cosign-installer@v3.8.1
  
      - name: Sign image with cosign
        run: |
          echo "${{ secrets.COSIGN_KEY }}" > /tmp/cosign.key && \
          cosign sign -key /tmp/cosign.key ${{ steps.meta.outputs.tags }}
        env:
          COSIGN_PASSWORD: ${{ secrets.COSIGN_PASSWORD }}
  
  redeploy:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    needs: [test, build, sign]

    if: github.ref == 'refs/heads/main'
    steps:
      - name: Redeploy docker swarm stack via webhook
        env:
          REDEPLOY_URL: ${{ secrets.REDEPLOY_URL }}
          REDEPLOY_AUTH: ${{ secrets.REDEPLOY_AUTH }}
        run: |
          curl -fsS -X POST \
            -H "X-Hblwrk-Auth: ${REDEPLOY_AUTH}" \
            "${REDEPLOY_URL}"

      - name: Actions Status Discord
        uses: sarisia/actions-status-discord@v1.11.0
        with:
          webhook: ${{ secrets.DISCORD_WEBHOOK }}
          title: Production deployment triggered.
