# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

# This workflow integrates njsscan with GitHub's Code Scanning feature
# nodejsscan is a static security code scanner that finds insecure code patterns in your Node.js applications

name: njsscan sarif

permissions: read-all

on:
  push:
    branches: [ main ]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [ main ]
  schedule:
    - cron: '25 11 * * 3'
  workflow_dispatch:

jobs:
  njsscan:
    runs-on: ubuntu-latest
    name: njsscan code scanning
    permissions:
      security-events: write
    steps:
    - name: Checkout the code
      uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'
    - name: Install njsscan
      run: |
        python -m pip install --upgrade pip
        pip install njsscan
    - name: nodejsscan scan
      run: njsscan . --sarif --output results.sarif || true
    - name: Upload njsscan report
      uses: github/codeql-action/upload-sarif@v4
      with:
        sarif_file: results.sarif
